body{
    background-color: black;
}

h1{
    color: red;
    text-align: center;
}
.main{
    position: relative;
}

.image img{
    width: 200px;
    position: absolute;
    left: 650px;
    top: 200px;

}
.image:hover{
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}

.superheroes img{
    width: 150px;
    border-color: black;
    border-width: 20px;;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
.captain_america img{
    position: absolute;
}



.batman img{
    position: absolute;
    left: 1250px;
    
}
.batman img:hover{
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}
.captain_america img:hover{
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}

.lang img{
    width: 150px;
    position: absolute;
    left: 671px;
    top: 180px;
}

